body {
  background: $mainBackground; 
  /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  // background: -webkit-linear-gradient(right, #267871, #136a8a);
  // background: -o-linear-gradient(right,#267871, #136a8a);
  // background: linear-gradient(to left, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.App {
  margin: 25px;
}

.App-Data-View {
  padding: 40px;
}